@model LaLocationDeVoiture.Models.Reservation

@{
    ViewBag.Title = "Supprimer une reservation ?";
}


<br />
<br />

<h3>Êtes-vous sûr de vouloir supprimer cet Reservation ?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_deb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_deb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbr_jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbr_jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieu_deb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieu_deb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieu_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieu_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montant)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-info" })
</div>
    }
</div>
